<!DOCTYPE html>
{% extends 'base.html' %}
{% load i18n static %}
{% load crispy_forms_tags i18n %}

{% block authentication_heading %}
  <h2>重置密码</h2>
{% endblock %}
{% block authentication_body %}
  {% if validlink %}
    <form method="post" action=".">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" class="btn btn-outline-primary my-2 my-sm-0" value="{% trans 'Submit' %}" />
    </form>
  {% else %}
    <p>{% trans "Password reset failed" %}</p>
  {% endif %}
{% endblock %}
