{% load static %}
{% block footer %}
 <footer id="footer" class="card">
        <div class="row">
        <div class="col-md-12" style="margin-bottom:10px;">
            <a href="#" type="button" class="btn btn-outline-warning btn-lg btn-block" style="background-color: rgb(8, 6, 6);font-size: medium;">
                回到顶部
            </a>
        </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h6 class="text-right text-muted" id="Contact">Contact: 13033287512@qq.com</h6>
                    <h6 class="text-right text-muted">Contact: github</h6></div>
                <div class="col-md-6">
                    <h6 class="text-left text-muted">Contact: github</h6></div>
            </div>
        </div>
        <br>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center text-muted" style="font-size: x-small;"><strong>若无特殊声明，本站内容均遵循CC BY-SA 4.0协议</strong> </p>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}